<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <title>システム英単語帳、小テスト自動生成アプリ</title>
</head>

<body>
  <header>
    <div class="header-comment">
      <p>Let's Make Your Test!</p>
    </div>
    <div class="header-contact">
      <div class="contact">ご要望等ございましたらこちらに→</div>
      <a href="https://twitter.com/3LeK409VEuNS4E3" target="_blank">Twitter</a>
    </div>
  </header>

  <main>

    <div class="discription">
      <div class="main-title">
        <h1><span class="red">システム</span>英単語帳　小テスト自動生成アプリ</h1>
        <h2>範囲と問題数を入力して、小テスト作成！</h2>
      </div>
      <div class="info">
        <h2>INFORMATION</h2>
        <ul>
          <li>現在、１章から２章までの単語（１〜１２００）をご利用できます。</li>
          <li>現在、問題数の上限は50問です。</li>
          <li>コンテンツは随時、更新予定です。ご要望等はツイッターまで！</li>
        </ul>
      </div>
    </div>

    <div class="main-contents">
      <%= form_tag ('show/result') do |f| %>
      <h2>さっそく作成しよう！</h2>

      <div class="test-range">
        <h3 class="range">①範囲を決めてください。</h3>
        <h4 class="range-info">＊１〜１２００までの単語が利用できます。</h4>
        <P　class="range-form"><%= text_field_tag :range_s %>
              から<%= text_field_tag :range_e %>まで</p>
      </div>

      <div class="test-amount">
        <h3 class="amount">②問題数を決めて下さい。</h3>
        <h4 class="amount-info">＊現在50問が上限です。</h4>
        <div class="amount-btn"><%= text_field_tag :amount %>問</div>
      </div>

      <div class="test-make">
        <%= submit_tag "小テスト作成！",class:"make-btn"%>
      </div>
      <%end%>
    </div>

  </main>

  <footer>
    <div class="footer-contact">
      <h2>Thank You for Using This App!!</h2>
    </div>
  </footer>
</body>
</html>
