<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <title>生成されたテストのページ</title>
</head>

<body class="show-body">
  <header class="show-header">
    <% max_score = @tests.length %>
    <div class="test-info">
      <div class="test">英単語テスト</div>
      <div class="test-range">
        <%="(範囲：#{@range_s}~#{@range_e})"%>
      </div>
    </div>
    <div class="fill_in">
      <div class="name">NAME:</div>
      <div class="score">
        <span class="score-left">SCORE:</span>/<%=max_score%>
      </div>
    </div>
  </header>
  <main class="show-main">
    <ul class="show-ul">
      <% @tests.each do |test| %>
      <% number = @tests.find_index(test) +1 %>
       <li class="test-word"><%="#{number}.#{test}"%></li>
      <%end%>
    </ul>
  </main>

</body>

</html>
