// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  font-family: 'Kosugi', sans-serif;
}

header{
  background-color: #003333;
  height:60px;
  width:100%;
}

.header-comment{
  color:white;
  float:left;
  font-size: 18px;
  padding-left: 13px;
}

.header-contact{
  color:white;
  float:right;
}

.contact{
  padding-right: 80px;
  padding-top: 20px;

}

header a{
  display:inline-block;
  color:white;
  float: right;
  position:absolute;
  top:30px;
  right:20px;
}

/*--------------------------------------------------------------------------*/

main{
  height:1170px;
  width: 100%;
  text-align: center;
}

/*--------------------------------------------------------------------------*/

.discription{

}

.main-title{
  padding-top: 50px;
  padding-bottom: 40px;
  font-size: 25px;
}

.main-title h1{

}

.red{
  color:red;
}

.main-title h2{

}

.info{
  width:60%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.info h2{
  border: solid 2px black;
  width:30%;
  margin: 0 auto;

}

ul{
  list-style: none;
  padding-top: 10px;
  padding-bottom:  10px;
}

li{

}

/*--------------------------------------------------------------------------*/

.main-contents{
  border:solid 3px black;
  border-radius: 10px;
  margin:0 auto;
  width:70%;
  background-color: #99CCCC;
  height:600px;
}

.main-contents h2{
  font-size: 40px;
  padding-top: 50px;
  padding-bottom: 25px;
}

.test-range{
  width:80%;
  margin:0 auto;
  padding-bottom: 20px;
  font-size: 20px;

}

.range{

}

.range-info{
  font-size: 15px;
}

.range-form{

}

.test-amount{
  width: 80%;
  margin:0 auto;
  font-size: 20px;
}

.amount{

}

.amount-info{
  font-size: 15px;

}

.amount-btn{

}

.test-make{
  padding:20px 0;

}

.make-btn{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

.make-btn:hover{
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

/*----------------------------------------------------------------------*/

footer{
  height:60px;
  background-color: #003366;
}

footer h2{
  color:white;
  text-align: center;
  padding-top: 10px;
}
