// Place all the styles related to the show controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.show-body{
  border: solid 5px black;
  height: 1050px;
}

.show-header{
  height:60px;
  background-color:white;
  color:black;
  font-size: 30px;
}

.test{
  font-size: 35px;
  margin-left: 10px;
  margin-top: 10px;
}

.test-range{
  font-size: 15px;
}

.name{
  border-bottom: solid 3px black;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 15px;
  float: left;
  width:400px;
}

.score{
  border-bottom: solid 3px black;
  float: left;
  margin-left: 20px;
  font-size: 20px;
}

.score-left{
  padding-right: 100px;
}

.fill_in{
  margin-top: 10px;
}

.show-main{
  color:black;
  font-size: 30px;
  margin-top: 40px;
}

.show-ul{
  width:100%;
  list-style:none;
  float: left;
}


.test-word{
  width:45%;
  float:left;
  border-bottom: solid 2px black;
  margin-right: 20px;
  text-align: left;
  font-size: 20px;
}
